/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  font-size: calc(1rem + ((1vw - 0.01em) * 0));
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialised;
  -moz-ox-font-smoothing: grayscale;
   --main-background-color: #4285F6;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  background-color: var(--main-background-color);
  color: #393838;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  width: 80%;
  max-height: 100vh;
  background-color: var(--main-background-color);
}

.claim {
  font-size: 2em;
  margin-bottom: .5em;
  color: #fff;
}

.sub-claim {
  margin-bottom: 6em;
  padding: 0 2em;
}

@media (min-width: 25em) and (orientation: landscape) {
 .container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
   width: 100%;
 }

 .image {
  grid-column: 3 / 5;
  width: 40%;
 }

 .claim {
   grid-column: 2 / 5;
   text-align: center;
 }

 .text {
  grid-column: 2 / 5;
 }

 .subscription {
  grid-column: 2 / 5;
 }

 .sub-claim {
  grid-column: 2 / 5;
  color: #fff;
  text-align: center;
  font-size: 14px;
 }

 .text {
   text-align: center;
   margin-bottom: 2em;
 }

 .subscription {
   margin: 1em;
 }

 .form {
   display: flex;
   justify-content: center;
 }

 .form-elements {
   display: flex;
   flex-direction: row;
   height: 40px;
 }

 .button {
   border-radius: 3em;
   margin-left: 2em;
   padding: 0.7em 1.2em .7em 1.2em;
   border: none;
   background-color: #1CE8B5;
   letter-spacing: .5px;
 }

 input[type="email" i] {
  height: 75%;
  border: none;
  width: 200px;
  -moz-box-shadow:    10px 1px 3px 4px #4b4b4b;
  -webkit-box-shadow: 10px 1px 3px 4px #4b4b4b;
  box-shadow:         -1px 1px 3px 4px #4b4b4b;
 }
}

@media (min-width: 48em) {
  .claim {
        font-size: calc(1rem + ((1vw - 0.01em) * 2.1277));
  }
}

@media (min-width: 50em) {
  .claim {
     font-size: calc(1rem + ((1vw - 0.01em) * 2.0408));
  }
}

@media (min-width: 64em) { 
  .claim {
    font-size: calc(1rem + ((1vw - 0.01em) * 1.5873));
  }
}

@media (min-width: 83em) {
  .claim {
    font-size: calc(1rem + ((1vw - 0.01em) * 1.2195));
  }
}

@media (min-width: 90em) {
  .sub-claim {
    
  }

  .image {
    grid-column: 6 / 10;
    width: 40%;
    margin-top: 4em;
   }
  
   .claim {
    font-size: calc(2rem + ((1vw - 0.01em) * 1.1236));
     grid-column: 4 / 10;
     text-align: center;
     margin-top: 1em;
   }
  
   .text {
    grid-column: 4 / 10;
    margin-top: 2em;
    font-size: 20px;
   }
  
   .subscription {
    grid-column: 5 / 9;
   }
  
   .sub-claim {
    grid-column: 5 / 9;
    text-align: center;
    font-size: 14px;
    margin-top: 0;
    color: #fff;
   }
}
